body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0px;
  border-bottom: 3px solid black;
  width: 100%;
  background-color: #A9D9C6;
}

#minha_foto {
  width: 300px;
  padding-top: 90px;
}

.riscado {
  text-decoration: line-through;
}